# database
POSTGRES_USER:
POSTGRES_PASSWORD:
POSTGRES_DB:

# pgadmin	|	dev only
PGADMIN_DEFAULT_EMAIL:
PGADMIN_DEFAULT_PASSWORD:
PGADMIN_LISTEN_PORT:

# redisinsight | dev only
RI_REDIS_HOST:
RI_REDIS_PORT:
RI_REDIS_ALIAS: